<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ResumeComp</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Resume1</display-name>
		<servlet-name>Resume1</servlet-name>
		<servlet-class>com.resume.servlet.Resume1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Resume2</display-name>
		<servlet-name>Resume2</servlet-name>
		<servlet-class>com.resume.servlet.Resume2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Resume3</display-name>
		<servlet-name>Resume3</servlet-name>
		<servlet-class>com.resume.servlet.Resume3</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Resume4</display-name>
		<servlet-name>Resume4</servlet-name>
		<servlet-class>com.resume.servlet.Resume4</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Resume1</servlet-name>
		<url-pattern>/Resume1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Resume2</servlet-name>
		<url-pattern>/Resume2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Resume3</servlet-name>
		<url-pattern>/Resume3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Resume4</servlet-name>
		<url-pattern>/Resume4</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/jsp/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
